.Homepage-top{
    width: max-content;
    display: flex;
    align-items: center;
    position: absolute;
    left: 0px;
    padding-left: 20px;
    
}
.Homelogo-title{
    padding: 5px;
    transform: translate(10px,-30px);
}
.Homelogo-image{
    height: 60px;
    padding: 5px;
    transform: translate(10px,0);
}

.homepage-main-container{
    
    position: absolute;
    height: 100%;
    width: 72%;
    left: 0px;
    top: 12%;
    margin-left: 7%;
    border-radius: 10px;
    padding: 5px;
}

.homepage-listening-history-songs{
    overflow-x: auto;
    scrollbar-width: none;
    display: flex;
}
.homepage-playlist-suggestion-container{
    padding: 10px;
    width: 50%;
    height: 300px;
    margin-right: 30px;
    
    
}
.homepage-playlists{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns:repeat(auto-fill, minmax(150px, 1fr));
    overflow-y: auto;
    scrollbar-width: none;
}
.homepage-artists-container{
    position: relative;
    left: 50%;
    transform: translate(0,-19.5rem);
    padding: 10px;
    width: 50%;
    height: 300px;
    margin-left: 30px;
    
}
.homepage-artists{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns:repeat(auto-fill, minmax(150px, 1fr));
    overflow-y: auto;
    scrollbar-width: none;
}
.homepage-song-suggestions-container{
    transform: translate(0,-225px);
    padding-bottom: 100px;
}
.homepage-song-suggestions{
    height: 100%;
    width: 100%;
    display: flex;
    overflow-x: auto;
    scrollbar-width: none;
}
@media all and (max-width:500px){
    .homepage-playlist-suggestion-container{
        position: absolute;
        /* overflow-x: auto;
        scrollbar-width: none; */
    }
    .homepage-artists-container{
        position: absolute;
        transform: translate(-20px,240px);
        left: 0px;
        
        
    }
    .homepage-playlists{
        overflow-x: auto;
        scrollbar-width: none;
        display: flex;
        width: 60vw;
    }
    .homepage-artists{
        overflow-x: auto;
        scrollbar-width: none;
        display: flex;
        width: 60vw;
        
    }
    .homepage-song-suggestions-container{
        position: relative;
        transform: translate(0,30rem);
        overflow-x: auto;
        scrollbar-width: none;
        width: 60vw;
    }
    .homepage-listening-history-songs{
        width: 60vw;
    }
}
@media all and (max-width:500px){
    .homepage-playlists{
        width: 80vw;
    }
    .homepage-listening-history-songs{
        width: 80vw;
    }
    .homepage-song-suggestions-container{
        width: 80vw;
    }
    .homepage-artists{
        width: 80vw;
    }

}
/* .mini-menu-icon{
    display: none;
    
}

@media (max-width:380px){
    .mini-menu-icon{
        display: initial;
        position: absolute;
        right: 0px;
        margin: 2rem;
        background-color: #FFEFDF;
        border: none;
    }
} */