body{
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #FFEFDF;
    display: flex;
    justify-content: center;
   
}

.loginlogo-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translate(10%,30%);
    /* align-items: center; */
    height: auto;
    width: auto
}

.loginLogo-image{
    
    height: 15%;
    width: 15%;

}
.login{

    background-color:#FCF5EE ;
    height: 40px;
    width: 75%;
    margin: 2%;
    transform: translate(15%,50%);
    border-radius: 10px;
   
}
.login-button{
    background-color: #F7E8FF;
    display: flex;
    flex-direction: column;
    align-content: center;
    height: 50px;
    width: 50%;
    transform: translate(50%,100%);
    border-radius: 50px;
    padding: 15px;
    margin-bottom: 10px;
    font-family: 'Courier New', Courier, monospace;
    
}
.loginlogo-title{
    
    transform: translate(1%,-60%);
}

.loginwelcome-back{
    font-size: 225%;
    transform: translate(23%,-270%);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.button-signin{
    position: relative;
    
    transform: translate(50%,200%);
}
.or{
    transform: translate(47%,-50%);
}
.login-button:hover{
    box-shadow: 0 2px 2px 0 grey;
}

    
