.settings-minisidebar-button{
    height: 5vh;
    width: 45vw;
    transform: translate(0,700%);
    background-color: #F7E8FF;
    border: solid ;
    border-width: 2px;
    border-radius: 100px;
    font-weight: bold;
}
.logout-button-minisidebar{
    height: 5vh;
    width: 45vw;
    transform: translate(0,450%);
    background-color: rgb(238, 131, 131);
    border: solid ;
    border-width: 2px;
    border-radius: 100px;
    font-weight: bold;
    box-shadow: 0 5px 5px 0 grey;
}
.settings-minisidebar-button:hover{
    box-shadow: 0 2px 2px 0 grey;
}
/* @media all and (max-width:480px){
    .settings-minisidebar-button{
        font-size: x-small;
    }
    .logout-button-minisidebar{
        font-size: x-small;
    }
} */