.Searchbar-container{
    background-color: #E4DBE8;
    width: max-content;
    display: flex;
    align-items: center;
    padding: 14px;
    border-radius: 25px;
    position: relative;
    left: 40%;
    transform: translate(0%,-20px);
    z-index: -1;
  
}
.Search-box{
    width: 35vw;
    margin-right: 10px;
    background-color: transparent;
    border: 0px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    outline: none;
}
@media all and (max-width:480px){
    .Searchbar-container{
        left: 10%;
    }
    .Search-box{
        width: 20vw;
    }
}